@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* VARIABLES */

:root {

    /* COLORS */
    --accent-color: #A353FF;
    --shadow-color: #9351F4;
    --line-color: #8989C5;
    --button-hover-color: linear-gradient(to left, #DD70FE, #9F55F6);
    --headline-color: #FFFFFF;
    --text-color: #C6C6E9;
    --bg-icon-color: #40408A;
    --bg-div-color: linear-gradient(to right, #2C2C6A, #606097);
    --bg-color: #161647;

    /* FONTS */
    --montserrat:"Montserrat", sans-serif;

    /* FONT SIZES */
    --headline-size: 7.5rem;
    --small-headline-size: 1.5rem;
    --logo-size: 1.5rem;
    --text-size: 1.125rem;
    --subtitle-size: 1rem;
    --link-size: 1rem;
    --small-text: 0.8rem;
}

/* DEFAULT STYLES */

a {
    text-decoration: none;
}
ul {
    padding: 0;
}
li {
    list-style: none;
    margin: 0;
    padding:0;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--bg-color);
}
html {
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    /* -webkit-scroll-snap-type: y mandatory;
    -ms-scroll-snap-type: y mandatory; */
    /* -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
    -ms-scroll-behavior: smooth; */
}
.headline {
    font-family: var(--montserrat);
    font-size: var(--headline-size);
    font-weight: bold;
    color: var(--headline-color);
}
.text {
    font-family: var(--montserrat);
    font-size: var(--text-size);
    line-height: 150%;
    color: var(--text-color);
}
.subtitle {
    font-family: var(--montserrat);
    font-size: var(--subtitle-size);
    color: var(--text-color);
    letter-spacing: 20px;
}
.nav__link {
    font-family: var(--montserrat);
    font-size: var(--link-size);
    color: var(--text-color);
}
.card__headline {
    font-family: var(--montserrat);
    font-size: var(--small-headline-size);
    color: var(--headline-color);
    font-weight: bold;
}
.card__subtitle {
    font-family: var(--montserrat);
    font-size: var(--subtitle-size);
    color: var(--text-color);
}
.header__logo-text {
    font-family: var(--montserrat);
    font-weight: bold;
    font-size: var(--logo-size);
    color: var(--headline-color);
}
.button {
    font-family: var(--montserrat);
    font-size: var(--link-size);
    color: var(--headline-color);
    background-color: var(--accent-color);
    padding:  5% 10% 5% 10%;
    border: 0;
    border-radius: 5px;
}
.button:hover {
    background-image: var(--button-hover-color);
    box-shadow: 0px 0px 50px var(--shadow-color);
    box-shadow: inset 0 0 5px #ffffff57;
}

.wrapper {
    min-height: 100vh;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: visible;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    overflow-y: hidden;
}


.main {
    width: 100%;
    margin-top: 95px;
    height: 85vh;
    overflow-y: auto;
    overflow-x: visible;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    scroll-behavior: smooth;
}
.main::-webkit-scrollbar {
    display: none;
}

.section {
    position: relative;
    height:100%;
    scroll-snap-align: start;
    opacity: 1;
    transition: all 200ms ease;
    /* -webkit-scroll-snap-align: start;
    -ms-scroll-snap-aloghn: start; */
}

.visible {
    opacity: 1;
    transition: all 1000ms ease;
    
}

/* SCROLL */


/* .main {
    width: 100%;
} */

/* HEADER */

.header {
    position: fixed;
    width: 90%;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}
.header__content {
    width: 100%;
    display: flex;
    align-items: center;
}
.header__logo {
    display: flex;
    flex:5;
}
.header__logo-text {
    margin-top: 3%;
}
.header__nav {
    display: flex;
    flex: 1;
}
.nav__list {
    display: flex;
    align-items: center;
    padding: 0;
    
}
.nav__item:not(:last-child) {
    margin-right:140px;
} 
.nav__item {
    margin-top: 3%;
}
.nav__link:hover {
    color: var(--headline-color);
}
.nav__link::after {
    content:'. . .';
    line-height: 0.5rem;
    display: block;
    text-align: center;
    margin-top: 3%;
    opacity: 0;
    transform: translateY(50%);
    transition: all 0.2s ease-in-out;
}
.nav__link:hover::after {
    content:'. . .';
    display: block;
    text-align: center;
    margin-top: 3%;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-in-out;
}

/* DECORATIVE LINES */

.decorative-features__block {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.decorative-features__lines {
    display: flex;
}
.decorative-features__block_bottom {
    position: fixed;
    width: 90%;
    bottom: 4%;
    z-index: -1;
}
.decorative-features__block_top {
    position: fixed;
    width: 90%;
    top:77px;
    display: flex;
    justify-content: space-between;
    z-index: -1;
}
.decorative-features__block_bottom .decorative-features__lines {
    align-items: flex-end;
}
.decorative-features__line {
    background-color:var(--line-color);
    opacity: 75%;
}
.decorative-features__line_vertical {
    width: 1.5px;
}
.decorative-features__line_horizontal {
    height: 1.5px;
}
.decorative-features__block_top
.decorative-features__lines_left
.decorative-features__line_vertical {
    height: 170px;
}
.decorative-features__block_top
.decorative-features__lines_right
.decorative-features__line_vertical {
    height: 240px;
}
.decorative-features__block_top
.decorative-features__lines_left
.decorative-features__line_horizontal {
    width: 160px;
}
.decorative-features__block_top
.decorative-features__lines_right
.decorative-features__line_horizontal {
    width: 630px;
}
.decorative-features__block_bottom
.decorative-features__lines_left
.decorative-features__line_vertical {
    height: 100px;
}
.decorative-features__block_bottom
.decorative-features__lines_right
.decorative-features__line_vertical {
    height: 240px;
}
.decorative-features__block_bottom
.decorative-features__lines_left
.decorative-features__line_horizontal {
    width: 560px;
}
.decorative-features__block_bottom
.decorative-features__lines_right
.decorative-features__line_horizontal {
    width: 90px;
}

/* BLOCK STYLES */

.content-block {
    width: 95%;
    margin:0 auto;
}


/* HERO SECTION */

.hero-section {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.hero-section__content-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 2.5%;
}
.hero-section__text {
    max-width: 490px;
    margin: 0;
}
.hero-section__logo {
    position: relative;
}
.hero-section__logo-blob {
    position: absolute;
    height: 100%;
    width:19.5%;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section__logo-blob-content {
    width: 55px;
    height: 55px;
    background-color: var(--headline-color);
    border-radius: 100%;
    /* transition: all 100ms ease; */
}
.hero-section__logo-block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-section__subtitle {
    text-align: center;
}
.hero-section__logo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3%;
}
.hero-section__logo {
    margin-top: 3%;
}
.hero-section__logo-img {
    max-width: 100%;
}
.socials__item:not(:first-child) {
    margin-top: 20%;
}
.socials__link {
    width: 100%;
    height: 100%;
}
.bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -3;
    top:0;
}
.bg__gradient {
    position: absolute;
    z-index: -3;
    /* position: absolute;
    top:0;
    width: 100%;
    height: 100vh; */
    /* filter: contrast(240%) brightness(400%); */
    width: 100%;
    height: 100%;
    background: 
        linear-gradient(147deg, #6528b4, rgba(7, 4, 43, 0.527)),
	    linear-gradient(148deg, rgba(33,26,98,1), rgba(12,12,41,1));
        /* background: radial-gradient(49% 81% at 45% 47%, #150E4BA6 0%, #073AFF00 100%),
        radial-gradient(113% 91% at 17% -2%, #9A4FE2FF 1%, #FF000000 99%),
        radial-gradient(142% 91% at 83% 7%, #2C097FFF 1%, #FF000000 99%),
        radial-gradient(142% 91% at -6% 74%, #591EA7FF 1%, #FF000000 99%),
        radial-gradient(142% 91% at 111% 84%, #270C61FF 1%, #321353FF 99%);; */
}
.bg__noise {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    background: url('../img/Asset\ 2.webp');
    background-size: cover;
    mix-blend-mode: soft-light;
    opacity: 0.6;
}

/* ABOUT BLOCK */

.about-section {
    display: flex;
    flex-direction: column;
    overflow-x: visible;
}
.about-section__about-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: center;
    align-self: center; */
    height: 100%;
}
.about-section__headline {
    margin-bottom: 5%;
}
.about-section__text-block {
    max-width: 490px;

}
.skills {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.skills__subtitle-block {
    display: flex;
}
.skills__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skills__skills-name {
    font-family: var(--montserrat);
    font-size: var(--link-size);
    color: var(--text-color);
}
.skills__skill-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    height: 60px;
    border-style: solid;
    border-color: #8989C5;
    border-radius: 5px;
    border-width: 2px;
}

.slider {
    position: absolute;
    z-index: 3;
    overflow-x: visible;
    top:50%;
    transform: translateY(-55%);
    right: -50%;
    /* margin-left: 50%; */
    width: 100%;
    transition: all 500ms ease;
    /* display: flex;
    flex-direction: row;
    align-items: center; */
}
.slider__container {
    display: flex;
    align-items: center;
}
.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:660px;
    height:330px;
    border-radius: 20px;
    opacity: 1;
    /* padding: 2% 5%; */
    background-color: var(--bg-color);
    transition: transform 1000ms ease-in-out;
}
.card:not(:first-child) {
    margin-left: 2%;
}
.card__content {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 80%;
}
.card__timebar {
    position: absolute;
    top:0;
    width:0%;
    height: 5px;
    border-radius: 5px;
    background-color: var(--accent-color);
}