@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* VARIABLES */

:root {

    /* COLORS */

    --accent-color: #A353FF;
    --shadow-color: #9251f481;
    --line-color: #8989C5;
    --button-hover-color: linear-gradient(to left, #DD70FE, #9F55F6);
    --headline-color: #FFFFFF;
    --text-color: #C6C6E9;
    --bg-icon-color: #40408A;
    --card-bg: #101038b0;
    --field-bg: #19194677;
    --card-bg-hover: linear-gradient(to right, #101038b0,#19194694);
    --bg-div-color: linear-gradient(to right, #2C2C6A, #606097);
    --bg-color: #161647;
    --search-bar-bg: #40408a38;
    --shadow-dark: #07051a31;
    --border-grad: linear-gradient(45deg, #ffff, #9558ff2c);

    /* FONTS */

    --montserrat:"Montserrat", sans-serif;

    /* FONT SIZES */

    --headline-size: 7.8rem;
    --headline-line-height: 9rem;
    --small-headline-size: 1.5rem;
    --logo-size: 1.5rem;
    --text-size: 1.125rem;
    --subtitle-size: 1rem;
    --link-size: 1rem;
    --small-text: 0.8rem;
}

/* SCROLL BAR */

::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
}


/* DEFAULT SETTINGS */

a {
    text-decoration: none;
}
ul {
    padding: 0;
}
li {
    list-style: none;
    margin: 0;
    padding:0;
}
html {
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    scroll-behavior: smooth;
}
::selection {
    background-color: #a353ff52;
}
body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-color);
    overflow: hidden;
    cursor: none;
}
.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.main {
    width: 100%;
    margin-top: 80px;
    height: 88vh;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    scroll-behavior: smooth;
}
.main::-webkit-scrollbar {
    display: none;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 90%;
    height: 100%;
}
.section {
    position: relative;
    height: 100%;
    scroll-snap-align: start;
    opacity: 0;
    transition: all 200ms ease;
}
.section:not(:first-child) {
    margin-top: 5%;
}
.visible {
    opacity: 1;
    transition: all 500ms ease;
    
}
/* .button__section_link {
    color: var(--headline-color);
}
.button__section_link:active {
    color: var(--headline-color);
}
.button__section_link:visited {
    color: var(--headline-color);
} */
.headline {
    font-family: var(--montserrat);
    font-size: var(--headline-size);
    font-weight: bold;
    color: var(--headline-color);
    line-height: var(--headline-line-height);
    margin-bottom: 5%;
}
.text {
    font-family: var(--montserrat);
    font-size: var(--text-size);
    line-height: 150%;
    color: var(--text-color);
}
.subtitle {
    font-family: var(--montserrat);
    font-size: var(--subtitle-size);
    color: var(--text-color);
    letter-spacing: 20px;
    line-height: 150%;
}
.nav__link {
    font-family: var(--montserrat);
    font-size: var(--link-size);
    color: var(--text-color);
}
.card__headline {
    font-family: var(--montserrat);
    font-size: var(--small-headline-size);
    color: var(--headline-color);
    font-weight: bold;
}
.card__subtitle {
    font-family: var(--montserrat);
    font-size: var(--subtitle-size);
    color: var(--text-color);
    line-height: 2rem;
}
.header__logo-text {
    font-family: var(--montserrat);
    font-weight: bold;
    font-size: var(--logo-size);
    color: var(--headline-color);
}
.button {
    display: block;
    font-family: var(--montserrat);
    font-size: var(--link-size);
    color: var(--headline-color);
    box-shadow: 0px 0px 50px #ffffff00, inset 0 0 5px #ffffff00;
    background-color: var(--accent-color);
    padding:  1.25rem 3rem;
    border: 0;
    border-radius: 5px;
    transform: scale(1);
    transition: all 200ms ease;
}
.button:hover {
    transform: scale(1.05);
    background-image: var(--button-hover-color);
    box-shadow: 0px 0px 50px var(--shadow-color), inset 0 0 5px #ffffff57;
    transition: all 100ms ease;
}
.button:active {
    transform: scale(0.95);
    transition: all 100ms ease;
}
.about-section__button-wrapper {
   display: inline-block;
}

/* PRELOADER */

.preloader {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    z-index: 1000;
}
.preloader__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* HEADER */

.header__burder {
    display: none;
}
.header__bg-on-mobile {
    display: none;
}
.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    top:0;
    z-index: 10;
}
.header__content {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    display: flex;
    align-items: center;
}
.nav__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    flex-wrap: nowrap;
}
.nav__item {
    flex-grow: 1;
}
.nav__item:not(:last-child) {
    margin-right: 100px;
} 
.nav__link:hover {
    color: var(--headline-color);
}
.nav__link::after {
    content:'. . .';
    line-height: 0.3rem;
    display: block;
    text-align: center;
    opacity: 0;
    transform: translateY(50%);
    transition: all 0.2s ease-in-out;
}
.nav__link:hover::after {
    content:'. . .';
    display: block;
    text-align: center;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-in-out;
}

/* CURSOR */
#cursor {
    visibility: hidden;
    position: absolute;
    z-index: 0;
    top:0;
    left:0;
    opacity: 0.6;
}
.custom-cursor__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width:30px;
    height: 30px;
    border: 3px solid var(--accent-color);
    border-radius: 100%;
}
.custom-cursor__item-mid {
    width:10px;
    height: 10px;
    background-color: var(--accent-color);
    border-radius: 100%;
}
.hoot {
    font-family: var(--montserrat);
    font-size: var(--small-text);
    color: var(--text-color);
    position: absolute;
    top:-50%;
    left:0;
    animation: hoot 500ms linear;
    animation-fill-mode: forwards;
}

@keyframes hoot {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-50%);
        opacity: 0;
    }
}
/* DECORATIVE LINES */

.decorative-features__block {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.decorative-features__lines {
    display: flex;
}
.decorative-features__block_bottom {
    position: fixed;
    width: 90%;
    bottom: 4%;
    z-index: -1;
    align-items: flex-end;
}
.decorative-features__block_top {
    position: fixed;
    width: 90%;
    top:77px;
    display: flex;
    justify-content: space-between;
    z-index: -1;
}
.decorative-features__block_bottom .decorative-features__lines {
    align-items: flex-end;
}
.decorative-features__line {
    background-color:var(--line-color);
    opacity: 0.4;
}
.decorative-features__line_vertical {
    width: 1.5px;
}
.decorative-features__line_horizontal {
    height: 1.5px;
}
.decorative-features__block_top
.decorative-features__lines_left
.decorative-features__line_vertical {
    height: 170px;
}
.decorative-features__block_top
.decorative-features__lines_right
.decorative-features__line_vertical {
    height: 240px;
}
.decorative-features__block_top
.decorative-features__lines_left
.decorative-features__line_horizontal {
    width: 160px;
}
.decorative-features__block_top
.decorative-features__lines_right
.decorative-features__line_horizontal {
    width: 630px;
}
.decorative-features__block_bottom
.decorative-features__lines_left
.decorative-features__line_vertical {
    height: 100px;
}
.decorative-features__block_bottom
.decorative-features__lines_right
.decorative-features__line_vertical {
    height: 240px;
}
.decorative-features__block_bottom
.decorative-features__lines_left
.decorative-features__line_horizontal {
    width: 560px;
}
.decorative-features__block_bottom
.decorative-features__lines_right
.decorative-features__line_horizontal {
    width: 90px;
}
.decorative-features__ticker {
    width: 100%;
    height: 24px;
    overflow-x: hidden;
    display: flex;
    z-index: 2;
}
 .decorative-features__mask-svg{
    position: absolute;
    width: 100%;
 }
 .ticker__text {
    flex: 1;
    overflow-x: hidden;
 }
 .decorative-features__ticker_top {
    mask:url(#mask-1);
}
.decorative-features__ticker_bottom {
    mask:url(#mask-2);
}
.decorative-features__ticker-text {
    font-family: var(--montserrat);
    font-size: var(--small-text);
    letter-spacing: 5px;
    color: var(--text-color);
    white-space: nowrap;
}
.decorative-features__ticker-box {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    margin-top: -0.6em;
    position: relative;
}
.decorative-features__ticker-box_bottom {
    margin-bottom: -0.6em;
}
.decorative-features__ticker-text_1 {
    animation: scroll 40s linear infinite;
}
.decorative-features__ticker-text_2 {
    animation: scroll 40s linear infinite;
}
 /* TICKER ANIMATION */

 @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

 @keyframes scroll1 {
    from {
      transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes scroll2 {
    from {
      transform: translateX(0);
    }
    to {
        transform: translateX(-200%);
    }
}
/* DECORATIVE CIRCLES */

.decorative-features__block_circles {
    position: absolute;
    z-index: -2;
    top:-15%;
    opacity: 0.1;
    overflow: hidden;
}
.decorative-features__circle {
    border: solid 2px  var(--line-color);
    border-radius: 100%;
}
.decorative-features__circles_left .decorative-features__circle_big {
    position: relative;
    width: 564px;
    height: 564px;
    top:-25%;
    left: -25%;
    animation: circleAnimationReverse 15s ease-in-out infinite ;
}
.decorative-features__circles_left .decorative-features__circle_small {
    position: absolute;
    bottom: 5%;
    right: 30%;
    width: 12%;
    height: 12%
}
.decorative-features__circles_right .decorative-features__circle_big {
    position: relative;
    width: 578px;
    height: 578px;
    top:-18%;
    right:-25%;
    animation: circleAnimation 15s ease-in-out infinite ;
}
.decorative-features__circles_right .decorative-features__circle_small {
    position: absolute;
    bottom: 5%;
    left: 30%;
    width: 15%;
    height: 15%;
}

/* CIRCLE ANIMATION */

@keyframes circleAnimation {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0);
    }
}
@keyframes circleAnimationReverse {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0);
    }
}


/* BLOCK STYLES */

.content-block {
    width: 95%;
    margin:0 auto;
}


/* HERO SECTION */

.hero-section__logo-image_mobile {
    display: none;
}

.hero-section {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.hero-section__content-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 54px;
}
.hero-section__text {
    max-width: 490px;
}
.hero-section__logo {
    position: relative;
}
.hero-section__logo-blob {
    position: absolute;
    height: 100%;
    width:19.5%;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: overlay;
}
.hero-section__logo-blob-content {
    width: 55px;
    height: 55px;
    background-color: var(--headline-color);
    border-radius: 100%;
}
.hero-section__logo-block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-section__subtitle {
    text-align: center;
}
.hero-section__logo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3%;
}
.hero-section__logo {
    margin-top: 3%;
    position: relative;
}
.hero-section__logo-img {
    max-width: 100%;
    z-index: 1;
    mix-blend-mode: overlay;
}
.hero-section__logo-img_bg {
    position: absolute;
    top:0;
    left:0;
    opacity: 0.4;
}
.hero-section__logo-img_shadow {
    position: absolute;
    top:0;
    left:0;
    filter: blur(20px);
    opacity: 0.5;
}
.hero-section__logo-img_outline {
    position: absolute;
    mix-blend-mode: normal;
    top:-5%;
    z-index: 2;
}
.socials__item {
    transform: scale(1);
    transition: all 200ms ease-in-out;
}
.socials__item:hover {
    transform: scale(1.1);
    transition: all 200ms ease-in-out;
}
.socials__img {
    max-width: 100%;
} 
.socials__img {
    opacity: 0.7;
    filter: brightness(1);
    transition: all 200ms ease-in-out;
}
.socials__item:hover .socials__img {
    filter: brightness(1.4);
    transition: all 200ms ease-in-out;
}
.socials__item:not(:first-child) {
    margin-top: 20px;
}
.socials__link {
    width: 100%;
    height: 100%;
}
.bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -3;
    top:0;
}
.bg__gradient {
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 100%;
    background: 
        linear-gradient(147deg, #6528b4, rgba(7, 4, 43, 0.527)),
	    linear-gradient(148deg, rgba(33,26,98,1), rgba(12,12,41,1));
}
.bg__noise {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    background: url('../img/noise_bg.webp');
    background-size: cover;
    mix-blend-mode: soft-light;
    opacity: 0.5;
}

/* ABOUT BLOCK */

.about-section {
    display: flex;
    flex-direction: column;
    overflow-x: visible;
}
.about-section__about-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.about-section__content-block {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.about-section__text-block {
    max-width: 490px;
}
.about-section__text {
    margin-bottom: 40px;
}
.skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
}
.skills__subtitle-block {
    display: flex;
    align-items: center;
    width: 100%;
}
.skills__subtitle {
    white-space: nowrap;
}
.skills__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skills__utility {
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--accent-color);
    opacity: 0;
    transition: opacity 500ms ease;
}
.is-active {
    opacity: 1;
    transition: opacity 100ms ease;
}

.skills__percentage {
    font-family: var(--montserrat);
    font-size: var(--link-size);
    color: var(--headline-color);
}
.skills__skills-name {
    z-index: -1;
    font-family: var(--montserrat);
    font-size: var(--link-size);
    color: var(--text-color);
    transition: opacity 500ms ease;
}
.skills__skill-box {
    display: flex;
    position: relative;
    z-index: 2;
    width: 252px;
    height: 60px;
    border-style: solid;
    border-color: #8989C5;
    border-radius: 5px;
    border-width: 2px;
    transition: all 1000ms ease;
    margin-top: 20px;
}
.skills__text-box {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 5%;
    justify-content: center;
    align-items: center;
}

/* SKILLS BOX ANIMATION */

@keyframes increaseSize {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.skills__skill-box:hover .skills__skills-name {
    opacity: 0;
    transition: opacity 500ms ease;
}
.skills__skill-box:hover {
    color: var(--headline-color);
    border-color: var(--accent-color);
}
.skills__decorative-line {
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: var(--line-color);
}

.slider {
    position: absolute;
    z-index: 3;
    overflow-x: visible;
    top:50%;
    transform: translateY(-55%);
    right: -40%;
    width: 100%;
    transition: all 500ms ease;
}
.slider__container {
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:660px;
    border: 1.5px solid rgba(0,0,0,0);
    border-radius: 20px;
    background: var(--card-bg);
    backdrop-filter: blur(30px);
    transition: transform 1500ms ease-in-out;
    box-shadow: 0 15px 50px var(--shadow-dark);
    z-index: 1;
    padding: 3% 0;
}
.card:not(:first-child) {
    margin-left: 20px;
}
.card:hover {
    background: var(--card-bg-hover);
    border: 1.5px solid #3D3778;
    transition: transform 1500ms ease-in-out,
                border 200ms ease-in-out,
                background 200ms ease-in-out;
}
.card__content {
    display: flex;
    flex-direction: column;
    width: 85%;
}
.card__timebar {
    position: absolute;
    top:0;
    left: 3%;
    width: 0;
    height: 5px;
    border-radius: 5px;
    background: var(--button-hover-color);
}
.card__headline-box {
    display: flex;
    align-items: center;
}
.card__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card__text {
    margin-top: 10%;
}
.card__icon {
    margin-right: 36px;
}
.card__icon-img {
    max-width: 100%;
}

/* CASE SECTION */

.cases-section__headline {
    margin-bottom: 0;
}
.cases-section__container {
    justify-content: flex-start;
}
.cases-section__content-block {
    transform: translateY(0);
    opacity: 1;
    transition: all 500ms ease-in-out;
}
.is-hidden {
    transform: translateY(100%);
    opacity: 0;
    transition: all 500ms ease-in-out;
}
.cases-section__text-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 54px;
}
.cases-section__text {
    max-width: 490px;;
}
.is-shown {
    transform: translateY(-3%);
    transition: all 500ms ease-in-out;
}
.case-window__tip {
    visibility: hidden;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    height: 60px;
    background-color: var(--bg-color);
    padding: 0 2%;
    opacity: 0;
    flex-shrink: 0;
    transform: translateY(50%);
    transition: opacity 500ms ease-in-out;
}
.tip-is-shown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms ease,
                transform 250ms ease-out;
    animation: fadeOut 200ms ease;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(50%);
        opacity: 0;
    }
}
.case-window__tip-message-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-shrink: 0;
}
.case-window__tip-message {
    text-align: center;
    font-family: var(--montserrat);
    color: var(--text-color);
    font-size: var(--small-text);
    flex-shrink: 0;
}
.case-window {
    position: relative;
    width: 95%;
    height: 95%;
    background-color: var(--card-bg);
    backdrop-filter: blur(30px);
    box-shadow: 0 15px 50px var(--shadow-dark);
    margin-top: 54px;
    border-radius: 25px;
    transform: translateY(0);
    transition: all 500ms ease-in-out;
}
.case-window__container {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 25px 25px;
    overflow-y: hidden;
}
.case-window__content {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 25px 25px;
    overflow-y: scroll;
}
.case-window__img {
    display: none;
    max-width: 100%;
}
.case-window__nav {
    display: flex;
    flex-basis: 100%;
    height: 60px;
    justify-content: center;
}
.case-window__header-container {
    display: flex;
    flex-basis: 95%;
    justify-content: space-between;
    align-items: center;
}
.case-window__search-bar {
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    width:85%;
    background-color: var(--search-bar-bg);
    height: 60%;
    border-radius: 25px 25px 25px 25px;
}
.case-window__search-link {
    font-size: var(--link-size);
    color: var(--line-color);
    font-family: var(--montserrat);
    font-weight: 400;
}
.case-window__icons {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
}
.case-window__icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    transition: all 200ms ease;
}
.case-window__icon_prev .case-window__icon-svg :hover, 
.case-window__icon_next  .case-window__icon-svg :hover {
    fill: var(--accent-color);
    transition: all 200ms ease;
}
.case-window__icon:hover {
    transform: scale(1.1);
    transition: all 200ms ease;
}
.case-window__icon-svg_next {
    max-width: 100%;
    transform: scaleX(-1);
}
.case-window__icon-svg_prev {
    max-width: 100%;
}
.case-window__icons_right {
    justify-content: flex-end;
    margin-left: 24px;
}
.case-window__icons_left {
    justify-content: flex-start;
    margin-right: 24px;
}
.case-window__icon:not(:first-child) {
    margin-left: 24px;
}
.case-window__icon_hide {
    width:14px;
    height:14px;
    background-color: #585090;
    border-radius: 100%;
}
.case-window__icon_maximize {
    width:14px;
    height:14px;
    background-color: #7856E9;
    border-radius: 100%;
}
.case-window__icon_close {
    width:14px;
    height:14px;
    background-color: #C653FF;
    border-radius: 100%;
}
.case-window__icons_right .case-window__icon_next{
    display: none;
}

/* CONTACT SECTION */

.contact-section__text-block {
    max-width: 490px;
}
.contact-section__socials {
    display: flex;
    flex-direction: row;
    margin-top: 54px;
}
.contact-section__contact-info {
    width: 100%;
    margin-bottom: 36px;
}
.contact-section__info {
    display: flex;
    align-items: flex-end;
}
.contact-section__info:not(:first-child) {
    margin-top: 20px;
}
.contact-section__icon {
    margin-right: 20px;
}
.contact-section__icon-img {
    max-width: 100%;
}
.contact-section__socials .socials__item:not(:first-child) {
    margin-left: 20px;
}
.contact-section__socials .socials__item {
    margin-top: 0;
}
.contact-section__content-block {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.contact-section__contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.contact-section__info-text {
    color: var(--text-color);
    font-family: var(--montserrat);
}

/* FORM */

.form {
    width: 932px;
    height: 80%;
    background: var(--card-bg-hover);
    backdrop-filter: blur(30px);
    border-radius: 25px;
    margin-left: 54px;
    margin-top: 54px;
    animation: floatingForm 2s ease-in-out infinite;
}
.form::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 1.5px solid var(--line-color);
    border-radius: 25px;
    top: -3%;
    left: -2%;
}
.form__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
}
.form__personal-info-fields {
    display: flex;
    width: 100%;
    margin-bottom: 36px;
}
.form__title {
    font-family: var(--montserrat);
    font-size: var(--text-size);
    color: var(--text-color);
}
.form__field {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form__field_your-message {
    height: 100%;
    margin-bottom: 36px;
}
.form__personal-info-fields .form__field:not(:first-child) {
    margin-left: 5%;
}
.form__input-field {
    margin-top: 24px;
    width: 100%;
    height: 60px;    
    background: var(--search-bar-bg);
    border: none;
    border-radius: 10px;
    padding: 1.5rem 1.5rem;
    font-family: var(--montserrat);
    color: var(--text-color);
    font-size: var(--link-size); 
}
.form__input-field:focus {
    outline: none;
    border: 1.5px solid var(--accent-color) ;
}
.form__input-field:active {
    outline: none;
    border: 1.5px solid var(--accent-color) ;
}
.form__input-field::placeholder {
    font-family: var(--montserrat);
    color: var(--text-color);
    font-size: var(--link-size); 
    opacity: 0.2;
}
.form__field_your-message .form__input-field {
    height: 100%;
    resize: none;
}

/* THANK YOU PAGE */
.thank-you-section {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
.thank-you-section__container {
    min-height: 100%;    
}
.thank-you-section__text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* PRELOADER ANIMATION */

@keyframes ldio-x2uulkbinbj {
    0% { transform: translate(8px,42px) scale(0); }
   25% { transform: translate(8px,42px) scale(0); }
   50% { transform: translate(8px,42px) scale(1); }
   75% { transform: translate(42px,42px) scale(1); }
  100% { transform: translate(76px,42px) scale(1); }
 }
 @keyframes ldio-x2uulkbinbj-r {
    0% { transform: translate(76px,42px) scale(1); }
  100% { transform: translate(76px,42px) scale(0); }
 }
 @keyframes ldio-x2uulkbinbj-c {
    0% { background: #ffffff }
   25% { background: #ffffff }
   50% { background: #ffffff }
   75% { background: #ffffff }
  100% { background: #ffffff }
 }

 /* FORM ANIMATION */

 @keyframes floatingForm {
    0% {
        transform: translateY(2%);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(2%);
    }
}

 .ldio-x2uulkbinbj div {
   position: absolute;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   transform: translate(42px,42px) scale(1);
   background: #ffffff;
   animation: ldio-x2uulkbinbj 2.380952380952381s infinite cubic-bezier(0,0.5,0.5,1);
 }
 .ldio-x2uulkbinbj div:nth-child(1) {
   background: #ffffff;
   transform: translate(76px,42px) scale(1);
   animation: ldio-x2uulkbinbj-r 0.5952380952380952s infinite cubic-bezier(0,0.5,0.5,1), ldio-x2uulkbinbj-c 2.380952380952381s infinite step-start;
 }.ldio-x2uulkbinbj div:nth-child(2) {
   animation-delay: -0.5952380952380952s;
   background: #ffffff;
 }.ldio-x2uulkbinbj div:nth-child(3) {
   animation-delay: -1.1904761904761905s;
   background: #ffffff;
 }.ldio-x2uulkbinbj div:nth-child(4) {
   animation-delay: -1.7857142857142856s;
   background: #ffffff;
 }.ldio-x2uulkbinbj div:nth-child(5) {
   animation-delay: -2.380952380952381s;
   background: #ffffff;
 }
 .loadingio-spinner-ellipsis-nq4q5u6dq7r {
   width: 88px;
   height: 88px;
   display: inline-block;
   overflow: hidden;
   background: rgba(210, 211, 212, 0);
 }
 .ldio-x2uulkbinbj {
   width: 100%;
   height: 100%;
   position: relative;
   transform: translateZ(0) scale(0.88);
   backface-visibility: hidden;
   transform-origin: 0 0; /* see note above */
 }
 .ldio-x2uulkbinbj div { box-sizing: content-box; }


/* SMALL SCREEEN RESPONSIVNESS */

@media (max-width: 1280px) {
    :root {
    
        /* FONT SIZES */
        --headline-size: 5.8rem;
        --headline-line-height: 7rem;
        --small-headline-size: 1.45rem;
        --logo-size: 1.5rem;
        --text-size: 1rem;
        --subtitle-size: 0.875rem;
        --link-size: 0.875rem;
        --small-text: 0.875rem;
    }
    .hero-section__logo-blob-content {
        width: 40px;
        height: 40px;
    }

    .hero-section__text-block {
        max-width: 390px;
    }
    .about-section__text-block {
        max-width: 390px;
    }
    .skills__skill-box {
        width: 170px;
    }
    .contact-section__socials {
        margin-top: 20px;
    }
    .contact-section__info:last-child {
        margin-bottom: 20px;
    }
}

@media (max-width: 1024px) {

    :root {
    
        /* FONT SIZES */

        --headline-size: 4.8rem;
        --headline-line-height: 6rem;
        --small-headline-size: 1.125rem;
        --logo-size: 1.25rem;
        --text-size: 0.875rem;
        --subtitle-size: 0.8rem;
        --link-size: 0.8rem;
        --small-text: 0.8rem;
    }
    .hero-section__logo-blob-content {
        width: 30px;
        height: 30px;
    }
    .hero-section__logo-block {
        margin-top: 7%;
    }
    .her{
        max-width: 300px;
    }
    .about-section__text-block {
        max-width: 300px;
    }
    .cases-section__text {
         max-width: 300px;
    }
    .contact-section__text-block {
        max-width: 300px;
    }
    .skills__skill-box {
        width: 140px;
    }
}
@media (max-width: 768px) {
    #cursor {
        display: none;
    }
}
@media (max-width: 440px) {

    :root {
        --headline-size: 6rem;
        --headline-line-height: 6rem;
        --small-headline-size: 1.25rem;
        --logo-size: 1.25rem;
        --text-size: 0.875rem;
        --subtitle-size: 0.8rem;
        --link-size: 0.8rem;
        --small-text: 0.8rem;
    }
    html {
        scroll-snap-type: y proximity;
        scroll-behavior: smooth;
    }
    .nav {
        position: absolute;
        width: 100%;
        height: 100vh;
        top:80px;
        left: 0;
        z-index: 15;
        opacity: 0;
        transition: all 1s ease;
        visibility: hidden;
    }
    .header__bg-on-mobile {
        display: block;
        visibility: hidden;
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: -1;
        top: 0;
        left: 0;
        background-color: transparent;
        backdrop-filter: blur(30px);
        opacity: 0;
        transition: all 1s ease;
    }
    .is-active {
        visibility: visible;
        opacity: 1;
        transition: all 1s ease;
     }
    .nav__list {
        height: 50%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .header__burder {
        display: block;
    }
    .header__burger-icon {
        width: 36px;
        height: 1.5px;
        background-color: white;
        position: relative;
        margin-bottom: 10px;
        transition: all 500ms ease-in-out;
    }
    .header__burger-icon::before {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        width: 10px;
        height: 1.5px;
        margin-top: 10px;
        background-color: white;
        transition: all 500ms ease-in-out;
    }
    .is-pressed .header__burger-icon {
        width: 10px;
        transition: all 500ms ease-in-out;
    }
    .is-pressed .header__burger-icon::before {
        width: 36px;
        transition: all 500ms ease-in-out;
    }
    .nav__link {
        font-size:  var(--small-headline-size);
    }
    .nav__item {
        display: flex;
        align-items: center;
    }
    .nav__item:not(:last-child) {
        margin-right: 0;
    }
    .hero-section__logo-image {
        display: none;
    }
    .hero-section__logo-image_mobile {
        display: block;
    }
    .hero-section__logo {
        display: flex;
        width: 70%;
        justify-content: center; 
    }
    .hero-section__logo-img_shadow {
        filter: blur(10px);
    }
    .hero-section__content-block {
        margin-top: 36px;
    }
    .headline {
        text-align: center;
        margin-bottom: 10%;
    }
    .section {
        opacity: 1;
    }
    .main {
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
    }
    .hero-section__content-block {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .hero-section__logo-img_outline {
        top: -5px;
        opacity: 0.5;
    }
    .hero-section__logo-blob {
       display: none;
    }
    .hero-section__subtitle {
        display: none;
    }
    .hero-section__text {
        text-align: center;
    }
    .socials {
        display: flex;
        margin-top: 30px;
    }
    .socials__item:not(:first-child) {
        margin-top: 0;
        margin-left: 20px;
    }
    .decorative-features__block_circles {
        display: none;
    }
    .decorative-features__block_top
    .decorative-features__lines_left
    .decorative-features__line_vertical {
        height: 100px;
    }
    .decorative-features__block_top
    .decorative-features__lines_right
    .decorative-features__line_vertical {
        height: 100px;
    }
    .decorative-features__block_top
    .decorative-features__lines_left
    .decorative-features__line_horizontal {
        width: 50px;
    }
    .decorative-features__block_top
    .decorative-features__lines_right
    .decorative-features__line_horizontal {
        width: 50px;
    }
    .decorative-features__block_bottom
    .decorative-features__lines_left
    .decorative-features__line_vertical {
        height: 100px;
    }
    .decorative-features__block_bottom
    .decorative-features__lines_right
    .decorative-features__line_vertical {
        height: 100px;
    }
    .decorative-features__block_bottom
    .decorative-features__lines_left
    .decorative-features__line_horizontal {
        width: 50px;
    }
    .decorative-features__block_bottom
    .decorative-features__lines_right
    .decorative-features__line_horizontal {
        width: 50px;
    }
    .about-section__text-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .slider {
        display: none;
    }
    .about-section__skills {
        display: none;
    }
    .about-section__about-block {
        justify-content: center;
    }
    .about-section__text, .cases-section__text, .contact-section__text {
        text-align: center;
        margin-bottom: 15%;
    }
    .cases-section__text-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .case-window {
        flex: 1;
    }
    .case-window__nav {
        height: 50px;
    }
    .case-window__header-container {
        flex-basis: 90%;
    }
    .case-window__icons_left .case-window__icon:last-child {
        display: none;
    }
    .case-window__icons_right .case-window__icon {
        display: none;
    }
    .case-window__icons_right .case-window__icon_next{
        display: block;
    }
    .case-window__icons_right .case-window__icon {
        margin-left: 0;
    }
    .case-window {
        border-radius: 15px;
    }
    .case-window__container {
        border-radius: 0 0 15px 15px;
    }
    .case-window__content {
        overflow: hidden;
    }
    .case-window__search-bar {
        border-radius: 10px;
        width: 100%;
        padding: 0 5%;
    }
    .contact-section__contact {
        flex-direction: column;
        height: auto;
    }
    .contact-section__socials {
        justify-content: center;
    }
    .form {
        width: 100%;
        height: 600px;
        padding:  36px 16px;
        margin-left: 0;
        margin-top: 36px;
        border-radius: 15px;
        animation: none;
        flex: 1 0 auto;
    }
    .form::before {
        border-radius: 15px;
        top:0;
        left: 0;
    }
    .form__personal-info-fields {
        flex-wrap: wrap;
    }
    .form__personal-info-fields .form__field:not(:first-child) {
        margin-left: 0;
        margin-top: 24px;
    }
    .input-field {
        height: 50px;
        border-radius: 10px;
    }
    .button {
        width: 100%;
    }
    .contact-section__contact-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
        margin-top: 36px;
    }
    .contact-section__info:not(:first-child) {
        margin-bottom: 0;
    }
    .section {
        height: auto;
        min-height: 100%;
    }
    .container {
        flex: 1;
    }
    .hero-section__logo-block {
        flex: 1;
    }
    .section:not(:first-child) {
        margin-top: 100px;
    }
    .hero-section__text {
        max-width: 300px;
    }
    .about-section__content-block {
        margin: 0;
        flex: 1;
    }
    .about-section__about-block {
        flex: 1;
    }
}